.main {
    box-sizing: border-box;
    width: 95%;
    margin: 1rem auto;
    height: auto;
    border: 1px solid black;
    background-color: rgb(252, 216, 136, 0.3);
}
.wrapper {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-content: center;
}
.block {
    box-sizing: border-box;
    width: 50%;
    margin-top: 3rem;
    height: auto;
    margin-right: 0;
}
#update {
    width: 50%;
    margin: 0 auto;
    height: 3rem;
    background-color: orange;
    text-transform: uppercase;
    color: rgb(38, 204, 38);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsli {
    width: 95%;
    margin: 1rem auto;
    padding: 1rem;
    height: 28rem;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid green;
    border-left: 2px solid green;
    border-bottom: 2px solid green;
}
.intro {
    width: 50%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
}
.title {
    font-weight: bold;

}
.title h1 {
    height: 5rem;
    width: 50%;
}
#link {
    color: blue;
    text-transform: lowercase;
}
.info {
    margin-top: 1rem
}
.com {
    display: flex;
    width: 50%;
    margin: 1rem;
}
.img {
    width: 1rem;
    height: 1rem;
    background-image: url("../component/speech-bubble-64.png");
    background-size: cover;
    background-position: center;
}
.list {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    margin-top: 4rem;
    margin-right: 1rem;
}
.wrap_parent {
    width: 90%;
    height: 10rem;
    overflow: auto;
}
.wrap::-webkit-scrollbar {
    display: none;
}
.wrap {
    margin-left: -2.8rem;
    height: 30rem;
    margin-bottom: 1rem;
    overflow: auto;
    border-top: 2px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
}
#txt {
    width: 90%;
    height: 4rem;
    color: rgb(110, 165, 255);
    margin-top: 0.5rem;
    overflow: auto;
}
#txt::-webkit-scrollbar {
    display: none;
}
.author_date_wrap {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 3rem;
}
.comment {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    height: 4rem;
    overflow: auto; 
}
.comment::-webkit-scrollbar {
    display: none;
}
#kid_txt {
    width: 90%;
    height: 2rem;
    color: rgb(38, 204, 38); 
    margin-top: 0.5rem;
    overflow: auto;
}
#kid_txt::-webkit-scrollbar {
    display: none;
}
#kid_wrap {
    margin-top: -0.5rem;
}
.text {
    width: 90%;
    overflow: hidden;
    height: 1.1rem;
}

/* ---------------adaptive--------------- */

@media only screen and (max-width: 780px) {
    .wrapper {
        display: flex;
    }
    .block, .list {
        width: 90%;
    }
    .newsli {
        height: 16rem;
        border-top: 2px solid green;
        border-right: 2px solid green;
        border-left: 2px solid green; 
        border-bottom: 2px solid transparent;
    }
    .wrap {
        height: 18rem;
        border-top: 2px solid transparent;
        border-bottom: 2px solid green;
        border-right: 2px solid green;
        border-left: 2px solid green; 
    }
    .newsli {
        margin-bottom: 19rem;
        margin-left: 20rem;
    }
    .wrap {
        width: 88%;
        margin-top: 18rem;
        margin-left: -20.95rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 550px) {
    .newsli {
        height: 16rem;
        border-top: 2px solid green;
        border-right: 2px solid green;
        border-left: 2px solid green; 
        border-bottom: 2px solid transparent;
    }
    .intro {
        width: 90%;
        margin-bottom: 1rem;
    }
    .wrap {
        height: 18rem;
        border-top: 2px solid transparent;
        border-bottom: 2px solid green;
        border-right: 2px solid green;
        border-left: 2px solid green; 
    }
    .wrap_parent {
        margin-right: 3rem;
        margin-bottom: 1rem;
    }
    button {
        width: 50%;
        margin-left: 2rem;
    }
    .newsli {
        margin-bottom: 22rem;
        margin-left: 11rem;
    }
    .title {
        width: 90%;
        height: auto;
    }
    .wrap {
        width: 82.2%;
        margin-top: 17rem;
        margin-left: -11.6rem;
        margin-bottom: 3.2rem;
    }
}

