.main {
    box-sizing: border-box;
    width: 95%;
    margin: 1rem auto;
    height: auto;
    background-color: rgb(71, 62, 45, 0.7);
    border-radius: 6px;
}
.news {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.item {
    height: 10rem;
    border-top: 1px solid blanchedalmond;
    border-radius: 2px;
    padding: 1rem;
}